/* main.css */

/* ... ваші базові стилі ... */

/* Відповідальні стилі для мобільних телефонів */
@media (max-width: 767px) {
    .header-container {
        flex-direction: column;
        align-items: center; /* Центрувати логотип та кнопку меню */
    }

    .menu-toggle {
        display: block; /* Кнопка меню завжди видима */
        position: relative; /* Необхідно, щоб кнопка була відносно контейнера */
        z-index: 2; /* Забезпечує, що кнопка знаходиться над меню */
    }

    .navbar {
        display: none; /* Меню приховане за замовчуванням */
        position: absolute;
        top: 100%; /* Висота шапки */
        left: 0;
        width: 100%; /* Меню має бути на всю ширину екрану */
        flex-direction: column;
        background-color: #333; /* Фон для читабельності тексту */
        z-index: 1; /* Меню знаходиться під кнопкою */
    }

    .navbar.active {
        display: flex; /* Показати меню, коли додано клас 'active' */
    }

    .navbar li {
        padding: 5px 0;
    }

    .navbar li a {
        padding: 10px;
        text-align: center;
    }

    /* Стилізація заголовку та параграфів у шапці */
    header h1,
    header p {
        font-size: smaller;
    }

    /* Стилізація кнопки меню */
    button {
        font-size: smaller;
        padding: 5px 10px;
    }
}

/* Медіа-запити для таблетів */
@media (min-width: 768px) and (max-width: 1024px) {
    /* ... ваші адаптивні стилі для таблетів ... */
}

/* Інші адаптивні стилі */

/* ... */
