/* Стилі для секції реєстрації */
#registration {
  background-color: #f7f7f7; /* світле тло для секції */
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Стилі для полів вводу */
input[type="text"],
input[type="email"],
input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Додає внутрішні відступи в область вмісту елемента */
}

/* Стилі для кнопки реєстрації */
input[type="submit"] {
  background-color: #5cb85c; /* зелений колір кнопки */
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* Стилі для кнопки при наведенні курсору */
input[type="submit"]:hover {
  background-color: #4cae4c; /* темніший відтінок зеленого при наведенні */
}

/* Виправлення відображення на мобільних пристроях */
@media (max-width: 600px) {
  #registration {
    width: 90%;
    margin: 20px auto;
  }
}

/* Шапка сайту */
.header-container {
  background: #003366; /* Колір фону шапки */
  color: white;
  display: flex;
  justify-content: space-between; /* Елементи розподіляються з рівним проміжком */
  align-items: center; /* Вирівнювання по вертикалі */
  padding: 0 20px; /* Відступи по боках */
}

.logo {
  max-width: 100%; /* Максимальна ширина логотипу */
  height: auto;
}

/* Кнопка меню */
.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 24px; /* Розмір тексту */
  cursor: pointer; /* Курсор у вигляді пальця при наведенні */
}

/* Стилі для меню */
.navbar {
  list-style: none;
  padding: 0;
  margin: 0 auto; /* Автоматичний відступ з обох сторін для центрування */
  display: flex;
  flex-direction: row;
  justify-content: center; /* Центрування елементів меню */
  width: 100%; /* Ширина контейнера меню */
  max-width: 1200px; /* Максимальна ширина контейнера меню */
}
