/* Медіа-запити для таблетів */
@media (min-width: 768px) and (max-width: 1024px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        flex-direction: column;
        width: 100%;
    }

    .navbar li a {
        padding: 10px;
        border-bottom: 1px solid #fff;
        width: 100%;
        text-align: center;
    }
}

/* Медіа-запити для мобільних телефонів */
@media (max-width: 767px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        flex-direction: column;
        width: 100%;
    }

    .navbar li a {
        padding: 10px;
        border-bottom: 1px solid #fff;
        width: 100%;
        text-align: center;
    }

    .navbar li {
        width: 100%;
    }
}
/* Інші адаптивні стилі */
