/* Основні стилі */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('шлях/до/вашого/фонового/зображення.jpg');
  background-size: cover;
  color: white;
}

#container {
  width: 80%;
  margin: 0 auto;
}

/* Шапка сайту */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* Головне меню */
nav {
  /* Стилі для головного меню */
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

/* Ефекти при наведенні для посилань */
nav ul li a:hover {
  border-bottom: 1px solid white;
}

/* Контент */
main {
  text-align: center;
  /* Інші стилі для основного контенту */
}

/* Кнопки */
button {
  background-color: #0066cc;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Ефекти при наведенні для кнопок */
button:hover {
  background-color: #004499;
}

/* Підвал сайту */
footer {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Адаптивність */
@media (max-width: 768px) {
  header, footer {
    flex-direction: column;
  }
}
